body {
  background: black;
  color: #00ffff;
  font-family: monospace;
  text-align: center;
}

button {
  margin: 8px;
  padding: 10px;
  background: #111;
  color: #0ff;
  border: 1px solid #0ff;
}

#game {
  margin-top: 20px;
}
